<?xml version="1.0" encoding="UTF-8"?>
<plugin id="your.name.space.yourPluginName" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>cordova-plugin-yourPluginName</name>
  <js-module name="yourPluginName" src="www/yourPluginName.js">
    <clobbers target="yourPluginName" />
  </js-module>
  <platform name="ios">
    <hook type="after_plugin_install" src="hooks/add_swift_support.js" />
    <config-file parent="/*" target="config.xml">
      <feature name="YourPluginName">
        <param name="ios-package" value="YourPluginNamePlugin" />
      </feature>
    </config-file>
    <source-file src="src/ios/yourPluginNamePlugin.swift" />
  </platform>
</plugin>
